<!-- <app-header></app-header>
<div class="container"> 
    <table class="table table-trapped">
    <thead>
       
        <th scope="col">EmailID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone No</th>
        <th scope="col">Actions</th>
    </thead>

    <tbody>
        <tr *ngFor="let p of allcustomers">
           
            <td>{{p.emailId}}</td>
            <td>{{p.name}}</td>
            <td>{{p.address}}</td>
            <td>{{p.phoneNo}}</td>
            <td><button (click)="showupdateform()" class="btn5">	<mat-icon>create</mat-icon></button>
                <button (click)="deletecustomer(p.emailId)" class="btn5"><mat-icon>delete</mat-icon></button>
                <button (click)="showdataintabular(p)" class="btn5"><mat-icon>info</mat-icon></button>
            
            </td>
        </tr>
    </tbody>
    
    </table>     
</div>  -->